langchain
langchain_community
langchain_text_splitters
langchain_openai
langchain_huggingface
langchain_groq
langchain_chroma
sentence_transformers
chromadb
faiss_cpu
python_dotenv
pypdf
bs4
wikipedia
streamlit
langserve
fastapi
uvicorn
sse_starlette
yfinance
mysqlclient